# "xte 'key Super_L'"
# b:8 + release

# gnome shell button 8 to overview
"xdotool key Super_L"
release + b:8
# gnome shell button 9 to alt tab
"xdotool keydown alt key Tab; xdotool keyup alt"
release + b:9