autodetach on
defscrollback 50000
hardstatus alwayslastline
hardstatus string '%{= y}%H %{-}%{= c}%-Lw%{-}%{= ck}%n%f %t%{-}%{= c}%+Lw %= %{-}%{= y}%D %M %d %c%{-}'
shell -$SHELL
startup_message off
term screen-256color
bind 'r' source ~/.screenrc
