#!/usr/bin/env bash

export SHELL="/bin/bash"

export IMAGE="mamercad/cloudmason"
export TAG="latest"

export CONCOURSE_TARGET="cloudmason"
export PIPELINE="cloudmason"
export JOB="job"

export CONCOURSE_SSH_KEY="$(lpass show --notes 'Homelab\Concourse/concourse.key' | base64)"
