#!/usr/bin/env bash

export SHELL="/bin/bash"

export IMAGE="mamercad/cloudmason"
export TAG="latest"

export CONCOURSE_TARGET="cloudmason"
export PIPELINE="cloudmason"
export JOB="job"

export CONCOURSE_SSH_KEY="$(lpass show --notes 'Homelab\Concourse/concourse.key' | base64)"

export DOCKER_IO_USERNAME="$(lpass show --username 'Personal/Docker')"
export DOCKER_IO_PASSWORD="$(lpass show --password 'Personal/Docker' | base64)"

export SLACK_WEBHOOK="$(lpass show --password 'Homelab\Concourse/Slack')"
