LPASS_PREFIX=""

# Work?
if [[ "$(ifconfig utun2 | grep -q 10\.; echo $?)" == "0" ]]; then
  LPASS_PREFIX="mamercad@gmail.com/"
fi

eval "$(lpass show "${LPASS_PREFIX}Personal/Cloudmason AWX" --notes)"
export ANSIBLE_PYTHON_INTERPRETER="${HOME}/.pyenv/shims/python3"
