{
    "zabbix_export": {
        "version": "5.2",
        "date": "2021-05-22T15:45:51Z",
        "groups": [
            {
                "name": "Templates/Modules"
            }
        ],
        "templates": [
            {
                "template": "Check DNS",
                "name": "Check DNS",
                "groups": [
                    {
                        "name": "Templates/Modules"
                    }
                ],
                "applications": [
                    {
                        "name": "DNS"
                    }
                ],
                "items": [
                    {
                        "name": "DNS resolution is working",
                        "type": "SIMPLE",
                        "key": "check_dns[google.com]",
                        "history": "1w",
                        "delay": "15m",
                        "applications": [
                            {
                                "name": "DNS"
                            }
                        ],
                        "valuemap": {
                            "name": "Service state"
                        },
                        "triggers": [
                            {
                                "expression": "{max(#3)}=0",
                                "name": "DNS resolution is down on {HOST.NAME}",
                                "priority": "AVERAGE"
                            }
                        ]
                    }
                ]
            }
        ],
        "value_maps": [
            {
                "name": "Service state",
                "mappings": [
                    {
                        "value": "0",
                        "newvalue": "Down"
                    },
                    {
                        "value": "1",
                        "newvalue": "Up"
                    }
                ]
            }
        ]
    }
}
