LPASS_PREFIX=""

# Work?
if [[ "$(ifconfig utun2 | grep -q 10\.; echo $?)" == "0" ]]; then
  LPASS_PREFIX="mamercad@gmail.com"
fi

eval "$(lpass show "${LPASS_PREFIX}/Personal/Cloudmason PowerDNS" --notes)"
eval "$(lpass show "${LPASS_PREFIX}/Personal/cloudflare.com" --notes)"

if [[ ! -d "./octodns" ]]; then
  virtualenv -p python3 ./octodns
fi

source ./octodns/bin/activate
